<body>
  <div id="header">
    <div id="toolbar">
      <a class="itemToolbar" (click)="scroll(home)"><b>ACCUEIL</b></a>
      <a class="itemToolbar" (click)="scroll(profile)"><b>MON PROFIL</b></a>
      <a class="itemToolbar" href="home"><b>PROJET PROFESSIONNEL</b></a>
      <a class="itemToolbar" href="home"><b>PORTFOLIO</b></a>
    </div>
</div>
  <div id="contenu">
    <div id=home #home >
      <app-home></app-home>
    </div>
    <div id=profile #profile>
      <app-profile></app-profile>
    </div>
  </div>
</body>